.card {
  // FUNCTIONALITY
  // Defining perspective
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease; // Put here 8s to prove the movement

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    border-radius: 3px;
    // Border Radius is not working because the image is overlapping the parent element
    overflow: hidden;

    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  // Part 2. Styling the card some more
  // On the front side we have 3 elements on the front side of the card.
  // 1. The background image in the first place
  // 2. The textbox
  // 3. The list
  &__picture {
    background-size: cover;
    height: 23rem;
    // Background blend modes
    background-blend-mode: screen;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      // ../ because we have to have in mind the compiles sass code, the real one
      // css/style.css, and from there we move to ../img folder
      //
      // We are going to blend the image with a linear gradient which is also defined
      // as a background image in CSS. See above background blend modes
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: url(../img/nat-5.jpg);
    }

    &--3 {
      background-image: url(../img/nat-5.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    // making text slightly narrower (2 lines)
    width: 75%;
  }

  &__heading-span {
    // making text slightly narrower (2 lines)
    padding: 1rem 1.5rem;
    // box-decoration-break
    // In order for this to work it's neccessary to create a new element inside of the h4
    // The idea is to treat the two lines as if they were two different elements, so
    // padding adjust well to the end of the word EXPLORER and the start of the word THE.
    // So clone apply all the declarations that we have in the selector (here padding)
    // to all of the boxes that are created by an element. So 1 element, 2 boxes, both
    // styled with the same padding.
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%; // because we don't want the underline goes from left to right side
      margin: 0 auto; // easiest way of centering a block element inside a block

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }
}
