*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  // 1rem = 10px           (10px/16px) * 100 = 62.5%
  font-size: 62.5%;

  // Always the larger ones before the smaller ones.

  // width < 1200
  @include respond(tab-land) {
    // 1rem = 9px           (9px/16px) * 100 = 56.25%
    font-size: 56.25%;
  }

  // width < 900
  @include respond(tab-port) {
    // 1rem = 8px           (8px/16px) * 100 = 50%
    font-size: 50%;
  }

  // width >= 1800
  @include respond(big-desktop) {
    // 1rem = 12px           (12px/16px) * 100 = 75%
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  // On smaller screen size (tab-port) we are going to get rid of the white border
  @include respond(tab-port) {
    padding: 0;
  }
}
