.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  // Solid Color Gradient
  // We can specify angles. 90deg is specifically going in the x direction
  // so, from left to right
  // And we can specify percentages, so we can specify at different points of the
  // gradient which color there should be.
  // If we put the two values at the same number we obtain the solid line.
  // In this way, we can obtain the same thing than with clip-path
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url('../../img/nat-10.jpg');
  // Here, 100% means the same that cover, because cover stretches the image to occupy
  // the entire container where the background-image is applied.
  background-size: 100%;
  border-radius: $border-radius;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  // Just for testing purposes. Later on we want the content of the box to define its height
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
